<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <ScrollView row="1" class="sidedrawer-content">
        <StackLayout>
            <GridLayout columns="auto, *"
                        :class="'sidedrawer-list-item' + (selectedPage === 'Home' ? ' selected': '')"
                        @tap="onNavigationItemTap(Home)">
                <Label col="0" text.decode="&#xf015;" class="fa"></Label>
                <Label col="1" text="Home" class="p-r-10"></Label>
            </GridLayout>
            <StackLayout class="hr-light"></StackLayout>

            <GridLayout columns="auto, *"
                        :class="'sidedrawer-list-item' + (selectedPage === 'Settings' ? ' selected': '')"
                        @tap="onNavigationItemTap(Settings)">
                <Label col="0" text.decode="&#xf013;" class="fa"></Label>
                <Label col="1" text="About" class="p-r-10"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
