<Page class="page" @loaded="loaded">
    <ActionBar class="action-bar">
        <ActionItem icon="res://navigation/menu"
                    android:visibility="collapsed"
                    @tap="onDrawerButtonTap"
                    ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="Home"></Label>
    </ActionBar>

    <GridLayout class="page-content">
        <StackLayout padding="10">
            <StackLayout margin="10 0" class="header">
                <Image :src="image" height="200" width="100%"
                       loadMode="async"
                       :useCache="true"
                       stretch="aspectFill"/>
                <FlexboxLayout flexDirection="column" justifyContent="space-around"
                               padding="10">
                    <Label :text="title" class="primary-text"/>
                    <Label :text="`Rank: ${rank}`" class="secondary-text"/>
                    <Label :text="`IMDB Rating: ${imDbRating}`" class="secondary-text"/>
                    <Label :text="`Year Released: ${year}`" class="secondary-text"/>
                    <Label :text="`IMDB Rating Count: ${imDbRatingCount}`" class="secondary-text"/>
                </FlexboxLayout>
            </StackLayout>

            <FlexboxLayout flexDirection="column" class="footer">
                <Label text="Crew Members: " margin="5 15" class="secondary-text"/>
                <FlexboxLayout flexWrap="wrap" margin="10" flexDirection="row">
                    <Label v-for="crew in crewMembers"
                           :text="crew"
                           borderColor="#faebd7"
                           borderRadius="20"
                           backgroundColor="#e0ffe9"
                           margin="5"
                           padding="10"/>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </GridLayout>

</Page>
