<FlexboxLayout height="200" width="100%" @tap="movieCardClicked(id)"
               borderRadius="20"
               marginTop="15"
               backgroundColor="#008b8b">
    <Image :src="image" height="100" width="100"
           loadMode="async"
           :useCache="true"
           stretch="aspectFill"
           borderRadius="100"/>

    <FlexboxLayout flexDirection="column" justifyContent="space-around" padding="0 10">
        <Label :text="title" class="primary-text"/>
        <StackLayout orientation="horizontal">
            <Label text="OMDB Rank: " class="secondary-text"/>
            <Label :text="`${rank}/100`" class="secondary-text"/>
        </StackLayout>
    </FlexboxLayout>
</FlexboxLayout>
